.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 976px;
  }
  
/*This creates a rule for divs within divs that contain the same names so the rule isn't applied twice */
    .wrapper {
      padding-left: 0;
      padding-right: 0;
    }
}
